.File {
	min-width: 300px;
	width: 46%;
	margin: 1%;
	padding: 1%;
	border: 1px solid lightgray;
	
	textarea {
		width: 100%;
		height: 400px;
		overflow: auto;
		resize: none;
		border: solid 1px lightgray;
	}
	
	&__file_upload {
		display: flex;
		justify-content: space-between;
	}
	
	&__file_list  {
		width: 100%;
		height: 150px;
		margin: 5px 0;
		overflow: auto;
	}
	
	&__file_select {
		color: red;
	}
}